{% extends "base.html" %}

{% block content %}
<h1>This is the about page</h1>
<p> Welcome to Books Are Us, the premier web application for book lovers and authors. We are dedicated to creating a platform where readers and authors can interact and share their love for books. 
    Our mission is to provide an affordable and accessible way for book lovers to discover new authors and titles, while also providing a platform for authors to showcase their work and connect with readers. 
    We believe that everyone should have access to the joy of reading and we aim to make that possible through our innovative and user-friendly book app. 
    At Books Are Us, we offer a subscription-based model that allows users to purchase and read books at a cheaper cost than traditional bookstores. 
    We also offer free access to unpublished books and a coin system for unlocking published chapters. We believe that this provides a unique opportunity for readers to discover new titles and authors while also supporting independent writers.
    Our rating system allows readers to rate books and provide feedback, which helps other users to discover new titles and authors. 
    Our personalized recommendation system uses machine learning algorithms to suggest books to users based on their reading preferences, making it easier than ever to find your next great read. 
    At Books Are Us, we are committed to providing a seamless and enjoyable user experience. Our platform is designed with a clean, modern interface that is easy to navigate, and we are constantly improving and updating our app to ensure that it remains the best book app on the market.
</p>
{% endblock content %}
